.red-hat-display-regular {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-hat-display-bold {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.navOpen {
  animation-name: openNav;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

.navClose {
  animation-name: closeNav;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

@keyframes closeNav {
  100% {
    right: -65%;
  }
}

@keyframes openNav {
  100% {
    right: 0;
  }
}

@keyframes up {
  100% {
    top: 0;
  }
}

@keyframes landingup {
  100% {
    top: 15vh;
  }
}
@keyframes appear {
  100% {
    top: 0;
    visibility: visible;
    opacity: 1;
  }
}
